body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #919da9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-nav li a {
  text-decoration: none;
  color: #483d8b;
}

.navbar-brand {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > div {
  display: flex;
  justify-content: center;
}

.container > div > div {
  width: 50%;
  color: darkslateblue;
  margin: 10px;
  padding: 10px;
  border: 1px solid darkslateblue;
}

.features ul {
  padding: 0;
  margin: 0;
}

.features ul li {
  list-style-type: none;
}

footer {
  background-color: #343a40;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 0;
  text-align: center;
}