

body{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    font-size: 20px;
}
.navbar-item{
    /* display: inline-block; */
}
.navbar{
    background-color: #919da9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px
}
.navbar-nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:10px   
}
.navbar-brand{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.navbar-nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
   
}
.navbar-nav li a:hover{
    color:#343a40;
    transition: .8s;
    border: 1px solid #fff;
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    min-height: 80vh;
    text-align: left;
    padding: 20px;
}
.features ul li{
    list-style: none;
    padding: 5px;
    color: goldenrod;
    font-size: 18px;
}
footer{
    background-color: #343a40;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
}
.main-text{
    padding-left: 20px;
    margin-top: 15px;
}
.container>h1, .container>p{
    text-align: center;
    
}
.images {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 4px;
    justify-content: center;
}
img{
    width: 100%;
    object-fit: contain;
}